requests_random_user_agent==2023.2.15
requests==2.31.0
python-dotenv==0.21.0
absl-py==2.1.0
anyascii==0.3.2
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
contractions==0.1.73
data==0.4
et-xmlfile==1.1.0
flatbuffers==24.3.25
fonttools==4.25.0
frozendict==2.4.1
funcsigs==1.0.2
gast==0.5.4
google-pasta==0.2.0
grpcio==1.62.1
h11==0.14.0
h5py==3.10.0
html5lib==1.1
httpcore==1.0.5
httpx==0.27.0
inflection==0.5.1
jsonpointer==2.1
keras==3.1.1
libclang==18.1.1
ml-dtypes==0.3.2
multitasking==0.0.11
munkres==1.1.4
openai==1.16.1
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.11.0
patsy==0.5.3
peewee==3.17.1
ply==3.11
protobuf==3.20.3
pyahocorasick==2.1.0
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-lsp-jsonrpc==1.0.0
sec==0.3.0
termcolor==2.4.0
textblob==0.18.0.post0
textsearch==0.0.24
tiktoken==0.6.0
tokenizers==0.15.2
scikit-learn==1.2.2
webencodings==0.5.1
xgboost==2.0.3
yfinance==0.2.37